.navbar {
  background-color: #c2deb3;

}

.nav-item {
  padding: 10px 10px;
  text-decoration: none;
  transition: border-radius 0.5s ease, color 0.5s ease;
}

.nav-item:hover {
  background-color: #a0f09e;
  border-radius: 15px;
}