.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 70px; /* Ajusta según el tamaño del título */
    left: 0;
    width: 100%;
    background-color: #a0f09e;
    padding: 10px 0;
  }

  .navbar a {
    color: rgb(0, 100, 13);
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .navbar a:hover {
    background-color: #a0f09e;
  }